<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Vega WebRTC" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header class="centered-navigation">
      <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" class="mobile-logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
        </a>
        <a href="" class="centered-navigation-menu-button">MENU</a>
        <ul class="centered-navigation-menu">
          <li class="nav-link"><a href="javascript:void(0)">Try it!</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Guides</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Documentation</a></li>
        </ul>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="footer-links">
        <ul>
          <li><h3>Code</h3></li>
          <li><a href="https://www.github.com/vega-webrtc">Github</a></li>
        </ul>
        <ul>
          <li><h3>Follow</h3></li>
          <li><a href="https://twitter.com/vegawebrtc">Twitter</a></li>
        </ul>
        <ul>
          <li><h3>Community</h3></li>
          <li><a href="https://groups.google.com/forum/#!forum/vega-webrtc">Google Group</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
